{% extends "base.html" %}

{% block content %}
  <div class="requests-container">
    {% for request in requests %}
    <a href="{{ request.id }}">
      <div class="request">
        <h1>{{ request.business.brand }}</h1>
        <h4>{{ request.borrow_amount }}</h4>
        <p>{{ request.description }}</p>
        <span class="pending">{{ request.status }}</span>
      </div>
    </a>
    {% endfor %}
    <div>
      <a href="{% url 'create_loan' %}"><h3 class="loan">Add Loan</h3></a>
    </div>
  </div>
{% endblock %}