body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  .basic-nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(90, 110, 116);
  }

  .basic-container {
    display: flex;
  }

  .ul-container {
    padding: 0;
    display: flex;
    list-style-type: none;
  }

  .list-container a {
    padding: 0 5px;
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
  }

  .list-container a:hover {
    color: lightblue;
  }

  