{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{% static 'css/main_app_style/main_app_base.css' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static 'images/icon.png' %}"
    />
    <title>Track your business</title>
  </head>
  <body class="app-container">
    <header class="main-header">
      <h3 class="logo">Business Tracker</h3>
      <nav class="main-nav">
        {% if user.is_authenticated and user.profile.role == "L" %}
        <a href="{% url 'bank' %}" class="nav-item nav-active">Home</a>
        <a href="{% url 'request' %}" class="nav-item">All Request</a>
        <a href="{% url 'create_loan' %}" class="nav-item">New Loan</a>
        {% else %}
        <a href="{% url 'home' %}" class="nav-item nav-active">Home</a>
        <a href="{% url 'contact' %}" class="nav-item">Contact Us</a>
        {% endif %} {% if user.is_authenticated and user.profile.role == "L" %}
        <form action="{% url 'logout' %}" method="post" class="logout-form">
          {% csrf_token %}
          <button class="nav-item logout-btn" type="submit">Logout</button>
        </form>
        {% else %}
        <a href="{% url 'signup' %}" class="nav-item">Sign Up</a>
        <a href="{% url 'login' %}" class="nav-item">Sign In</a>
        {% endif %}
      </nav>
    </header>

    <main class="main-content">{% block content %} {% endblock %}</main>

    <footer class="main-footer">
  <p class="footer-text">
    © 2025 Business Tracker. All rights reserved.
  </p>
</footer>
  </body>
</html>
