{% extends "base.html" %} {% block content %}
<div class="hero-section">
  <h1 class="hero-title">Business Tracker</h1>
  <p class="hero-text">
    Track the journey and see the growth, where numbers speak and decisions flow. A bridge for dreamers and those who invest, guided by clarity and strengthened with confidence.
  </p>
</div>

<div class="description-container">
  <section class="info-card entrepreneurs">
    <div class="info-card-content">
      <h2 class="info-title">Entrepreneurs</h2>
      <div class="info-divider"></div>
      <p class="info-text">
        This website will provide entrepreneurs with tools and insights to help
        them determine whether their business is on the right track. It will
        also open opportunities to connect with potential investors and access
        loan facilities from banks. In addition, the platform will guide
        entrepreneurs in recognizing when adjustments are needed or even when it
        may be better to pivot or close the business so they can avoid wasting
        time and resources.
      </p>
    </div>
  </section>

  <section class="info-card investors">
    <div class="info-card-content">
      <h2 class="info-title">Investors</h2>
      <div class="info-divider"></div>
      <p class="info-text">
        Investors will gain transparent access to the business's balance sheet
        and income statement, supported by clear profitability charts and
        insights. This makes it easy to evaluate growth potential and return on
        investment. For those interested in moving forward, they can directly
        contact the business owner via phone or email, ensuring a smooth path to
        partnership.
      </p>
    </div>
  </section>

  <section class="info-card line-managers">
    <div class="info-card-content">
      <h2 class="info-title">Line Managers</h2>
      <div class="info-divider"></div>
      <p class="info-text">
        This platform connects business owners with banks, making it easier for
        owners to request loans when needed. It will also provide line managers
        with financial insights based on the income statement and balance sheet
        that highlight whether the business represents a safe or risky lending
        opportunity.
      </p>
    </div>
  </section>
</div>
{% endblock %}
