{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@1.4.0"></script>
    <style>
      canvas {
        margin: 30px auto;
        display: block;
      }
    </style>
  </head>
  <body>
    <h1>base works</h1>
    <ul>
      <li><a href="{% url 'home' %}">home</a></li>
      <li><a href="{% url 'contact' %}">contact us</a></li>
      <li><a href="{% url 'Investor_Profile' %}">Profile</a></li>
    </ul>
    <form action="{% url 'logout' %}" method="post">
      {% csrf_token %}
      <button type="submit">Logout</button>
    </form>

    {% block content %} {% endblock %}
  </body>
</html>
