{% extends 'base_investor.html' %} {% block content %}

<div>
  <h1>invesment Project details!</h1>

  <div>
    {% load static %}
    <div style="background-color: aqua">
      <img
        src="{% static business_id.image|cut:'main_app/static' %}"
        alt="lol"
      />
      <h1>{{ business_id.brand }}</h1>
      <p>{{ business_id.description }}</p>
      <h4>Contact Info:</h4>
      <h5>{{ owner.email }}</h5>
      <h5>{{ owner.phone }}</h5>
    </div>
  </div>

  need this info
  <ul>
    <!-- <li>image</li> -->
    <!-- <li>brand</li> -->
    <!-- <li>description</li> -->
    <!-- <li>owner email</li> -->
    <!-- <li>owner phone</li> -->
    <li>business Cost Analysis</li>
    <li>NPV Profile</li>
  </ul>
</div>

{% endblock %}
