{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/businessStyle.css' %}" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static 'images/icon.png' %}"
    />
    <title>Track your business</title>
  </head>
  <body>
    <header class="navbar">
      <nav class="basic-nav">
        <div class="basic-container">
          <ul class="ul-container">
            <li class="list-container"><a href="{% url 'home' %}">Home</a></li>
            <li class="list-container">
              <a href="{% url 'contact' %}">Contact us</a>
            </li>
            <li><a href="{% url 'business' %}"> Business </a></li>
            <li><a href="{% url 'Profile' %}"> Profile </a></li>
            <li>
            <form action="{% url 'logout' %}" method="post">
              {% csrf_token %}
              <button type="submit">Logout</button>
            </form>
          </li>
          </ul>
        </div>
      </nav>
    </header>

    <main>{% block content %} {% endblock %}</main>

    <footer></footer>
  </body>
</html>
